<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Feedback </title>
</head>
<body>
    <form action="/resource/form" method="POST">
        {% csrf_token %}
        {% if error %}
            <p>empty name</p>
        {% endif %}
        <label for="name"> name: </label>
        <input type="text" id="name" name="name">
        <br>
        <label for="surname"> surname: </label>
        <input type="number" id="surname" name="surname">
        <label for="feedback_id"> feedback: </label>
        <textarea name="feedback" id="feedback_id" cols="30" rows="5"></textarea>
        <button> Отправить </button>
    </form>
</body>
</html>