{% extends 'base.html' %}

{% load static %}

{% block head-css %}
<link href="{% static '/tutorial/css/menu.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'includes/navbar.html' %}
<p>
<ul>
    {% for key, value in dtl_directions.items %}
    <li>{{forloop.counter}}) <a href="{% url 'main-link' variable=key %}">{{key}}</a> - {{value}}</li>
    {% endfor %}
</ul>
</p>
<ul>
    {% for row in dtl_table %}
    <a href="{{row.get_url}}">>{{row.char_column}} - {{row.int_column}}</a><br>
    {% endfor %}
</ul>
<h2> {{dtl_agg.int_column__sum}}<br>{{dtl_agg.int_column2__avg}}<br>{{dtl_agg.id__count}}</h2>
{% endblock %}

